#############################################
# ARCHIVOS DE DEPENDENCIAS Y BUILD
#############################################

# Drupal
drupal/vendor/
drupal/web/sites/default/files/

# Symfony
symfony/vendor/
symfony/var/

#############################################
# ARCHIVOS DE ENTORNO (SENSIBLES)
#############################################

# Entorno raíz
/.env
/.env.prod
/.env.local

# Permitir plantilla en raíz
!/.env.example

# Entorno Drupal (si usa archivo .env)
drupal/.env
drupal/.env.prod
drupal/.env.local

# Permitir plantilla en Drupal
!drupal/.env.example

# Entorno Symfony
symfony/.env
symfony/.env.prod
symfony/.env.local

# Permitir plantilla en Symfony
!symfony/.env.example

#############################################
# ARCHIVOS DE EDITORES Y SISTEMA
#############################################

.vscode/
.idea/
.DS_Store
